.categoria {
    min-width: 115px;
    padding: 10px;

    display: flex;
    align-items: center;
    justify-content: center;

    flex-grow: 1;

    background-color: #182124;

    border: none;
    border-radius: 3px;

    color: var(--cor-font-branca);
    font-size: 1.05rem;

    cursor: pointer;

    &:hover {
        background-color: #d35400bb;
    }
}